name: CI FastFoodGo

# Déclencheurs : quand lancer le workflow ? 
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest # On utilise une machine virtuelle Linux fournie par GitHub

    steps:
    # 1. Récupérer le code
    - name: Checkout code
      uses: actions/checkout@v4

    # 2. Installer Python
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    # 3. Installer les dépendances (comme tu l'as fait avec pip install -e)
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e ".[dev]"

    # 4. Lancer les tests [cite: 11]
    - name: Run tests with pytest
      run: |
        python -m pytest